doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/polyfill.js')
    script(src='/javascripts/react.js')
    script(src='/javascripts/build/main.js')
